logs
project/project
project/target
/mockups
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/ui
public/images/game
public/images/user
root
public
public
